**/__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/

.vscode/
.idea/
*.iml

*.log`
*.out
*.tmp
*.swp
.DS_Store

src/app/Dockerfile
.dockerignore
.gitignore
*.md
docs/
.env.example
docker-compose.y*
my.cnf
.pre-commit-config.yaml
